.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 402px;
    height: 469px;
    left: 719.82px;
    top: 304.37px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.iamgeContainer h1 {
    font-weight: 500;
    font-size: 18px;
}
.imageContainer h3 {
    font-weight: 500;
    font-size: 10px;
    color: grey;
    margin-bottom: 20px;
}
.uploadImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 338px;
    height: 218.9px;
    left: 551.82px;
    top: 427.97px;
    background: #FFFFFF;
    border: 1px dashed #97BEF4;
    box-sizing: border-box;
    border-radius: 12px;
    margin-bottom: 20px;
}


.uploadImage img {
    height: 90px;
    padding-bottom: 10px;
}

.uploadImage h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #BDBDBD;
}

input[type="file"] {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.file-upload {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    background: #2F80ED;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    color: white;
    width: 130px;
    height: 20px;
    left: 670.64px;
    top: 705.39px;
    text-align: center;

}

@media (max-width: 500px) {
    .imageContainer {
        position: inherit;
        margin: 0 auto;
    }

    #mainContainer {
        height: 100vh;
        display: flex;
        align-items: center;
    }
}