.photoUploadedContainer {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 30%;
    margin-top: 20vh;
    padding-top: 40px;
}

.photoUploadedContainer h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 20px;
}

.uploadContainer {
    background-color: gray;
    width: 70% ;
    height: 224px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.uploadContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.copyLinkContainer {
    display: flex;

}

.copyLinkContainer input {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #F6F8FB;
    border-style: none;
    height: 34px;
    margin-top: 1px;
    width: 308px;
    margin-right: 0;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding: 10px;
}


.textContainer {
    background-color: #F6F8FB;
    position: relative;
    height: 37px;
    border-radius: 12px;
    border: 1px solid #E0E0E0;
    width: 400px;
    margin-bottom: 30px;
}

.Tooltip {
    position: absolute;
    bottom: 40px;
    right: 10px;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 10px;
}

.copyLinkContainer button {
    margin: auto;
    height: 34px;
    padding: 0;
    background: #2F80ED;
    color: white;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    border-radius: 8px;
    width: 90px;
    border: none;
}

.copyLinkContainer button:hover {
    background: #1b4680;
    transform: scale(1.1);
    transition: ease-in;
    transition-duration: 100ms;
    cursor: pointer
}


@media (max-width: 800px) {
    .photoUploadedContainer {
        width: auto;
    }
}